<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/contact/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/contact/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/contact/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="v~/Content/contact/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/contact/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/contact/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/contact/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/images/ugly.jpg" alt="IMG">
                <div>

                    <br />
                    <font size="5" face="田氏方筆刷体繁">
                        NAME: JEFF
                    </font>
                    <br />
                    <font size="5" face="田氏方筆刷体繁">
                        TEL: 0966666666
                    </font>
                    <br />
                    <font size="5" face="田氏方筆刷体繁">
                        TONIGHT EAT ME?
                    </font>
                </div>
            </div>


            <form class="contact1-form validate-form">
                <span class="contact1-form-title">
                    <font size="5" face="田氏方筆刷体繁">  Get in touch </font>
                </span>
                <br />
                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input class="input1" type="text" name="name" placeholder="Name">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input1" type="text" name="email" placeholder="Email">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Subject is required">
                    <input class="input1" type="text" name="subject" placeholder="Subject">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea class="input1" name="message" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn">
                    <button class="contact1-form-btn" onclick="myFunction()">
                        <span>
                            Send Email
                        </span>

                        <script>
                                    function myFunction() {
                                        alert("送出你的信囉~~~~ Jeff愛你");
                                    }
                        </script>
                    </button>
                </div>
            </form>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Script/contact/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Script/contact/popper.js"></script>
    <script src="~/Script/contact/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Script/contact/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Script/contact/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="~/Script/contact/main.js"></script>

</body>
</html>
